# Imports

In [1]:
import pandas as pd

# Read Data

In [2]:
data = pd.read_csv('../data/ct_rr.csv/ct_rr.csv')
data.head()

/home/nishantgautam/nishant-regalix/rapido/env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                    ts number   pick_lat   pick_lng   drop_lat   drop_lng
0  2018-04-07 07:07:17  14626  12.313621  76.658195  12.287301  76.602280
1  2018-04-07 07:32:27  85490  12.943947  77.560745  12.954014  77.543770
2  2018-04-07 07:36:44  05408  12.899603  77.587300  12.934780  77.569950
3  2018-04-07 07:38:00  58940  12.918229  77.607544  12.968971  77.636375
4  2018-04-07 07:39:29  05408  12.899490  77.587270  12.934780  77.569950

# Data Anamoly

- Column 1 ( number ) has mixed type.

In [3]:
data.number.unique()

array(['14626', '85490', '05408', ..., 63595, 27648, 37558], dtype=object)

In [4]:
data.number = data.number.apply(int)

ValueError: invalid literal for int() with base 10: ' None'

In [5]:
int('65464')

65464

In [6]:
int(6565)

6565

In [7]:
int(' None')

ValueError: invalid literal for int() with base 10: ' None'

In [8]:
data.number.replace(' None', -1, inplace=True)

In [9]:
data[data.number == -1].head()

                        ts number   pick_lat   pick_lng   drop_lat   drop_lng
5879   2018-04-07 11:28:40     -1  12.916193  77.673790  12.960270  77.701230
42173  2018-04-11 08:40:23     -1  12.890977  77.603355  12.927923  77.627106
46564  2018-04-11 10:23:53     -1  13.007046  77.645710  12.905373  77.650700
49354  2018-04-11 21:35:35     -1  12.887746  77.579155  12.980646  77.664910
72478  2018-04-13 08:16:48     -1  13.006568  77.546900  12.999281  77.679970

In [10]:
data.number = data.number.apply(int)

In [11]:
data.head()

                    ts  number   pick_lat   pick_lng   drop_lat   drop_lng
0  2018-04-07 07:07:17   14626  12.313621  76.658195  12.287301  76.602280
1  2018-04-07 07:32:27   85490  12.943947  77.560745  12.954014  77.543770
2  2018-04-07 07:36:44    5408  12.899603  77.587300  12.934780  77.569950
3  2018-04-07 07:38:00   58940  12.918229  77.607544  12.968971  77.636375
4  2018-04-07 07:39:29    5408  12.899490  77.587270  12.934780  77.569950

In [12]:
data = data[['ts','number']]
data.head()

                    ts  number
0  2018-04-07 07:07:17   14626
1  2018-04-07 07:32:27   85490
2  2018-04-07 07:36:44    5408
3  2018-04-07 07:38:00   58940
4  2018-04-07 07:39:29    5408

In [13]:
data.to_csv('../data/rapido_clean_data.csv', index=False)

In [14]:
data.shape

(8381556, 2)